# gym
# tqdm
# typeguard
# numpy-stl
# torch
# torchvision
# pettingzoo[all]
# #torchrl
# pytest
# pyyaml
# pytest-instafail
# jupyter
# seaborn
matplotlib
opencv-python
pettingzoo[all]==1.23.0
packaging==21.3
tianshou==0.5.0
wandb==0.15.8