gym
tqdm
typeguard
numpy-stl
torch
torchvision
wandb
pettingzoo[all]
torchrl    # install the branch developed by me for MARL compatibility
# torchRL extra denpendencies
pytest
pyyaml
pytest-instafail
jupyter
